name: Label Sync

on:
    push:
        branches: [main]
        paths: [".github/labels.yml"]
    pull_request:
        paths: [".github/labels.yml"]

permissions:
    contents: read
    issues: write

jobs:
    sync-labels:
        name: Sync Label Definitions
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

            - name: Sync Labels
              uses: crazy-max/ghaction-github-labeler@24d110aa46a59976b8a7f35518cb7f14f434c916 # v5.3.0
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  yaml-file: .github/labels.yml
                  skip-delete: true
                  dry-run: ${{ github.event_name == 'pull_request' }}
